
/*Estos estilos los puse para organizar los componetes e irlos observando
(los puedes borrar cuando necesites :)  )*/

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}